.addingNotes {
  margin-top: 1rem;
  height: 74vh;
}

.addNotesForm {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.addNotesLabel {
  width: 84px;
  height: 16px;
  margin: 0 9px 8px 0;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  color: #9ea0a3;
}
.inputDate {
  height: 3rem;
}
.inputTime {
  height: 3rem;
}
.inputTextarea {
  height: 4rem;
}
.addNotesInputs {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.addNotesInputTextarea {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.cancelBtn {
  font-weight: bold;
  background-color: white;
  border: 1px solid grey;
  padding: 1rem 4rem;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
  color: black;
  margin-right: 1rem;
  cursor: pointer;
}
.saveBtn {
  font-weight: bold;
  background-color: #09a04f;
  border: none;
  padding: 1rem 4rem;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
h1 {
  text-align: center;
  background-color: rgb(219, 219, 219);
  margin: 0;
}
