.inputField {
  //   width: 431px;
  height: 36px;
  margin: 6px 0 0;
  padding: 10px 296px 6px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #1cb54f;
  background-color: #fff;
  margin-bottom: 1rem;
}
