.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 10px 6px 19px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 10px 6px 19px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 6px 19px -1px rgba(0, 0, 0, 0.62);
  border-left: 1rem solid #09a04f;
  padding: 0.5rem;
  border-radius: 4px;
}
.noteText {
  font-size: 1.2rem;
  // max-lines: ;
  // max-width: ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.dateTime {
  font-size: 0.8rem;
  color: gray;
  padding: 0.4rem 0;
  justify-content: space-between;
  display: flex;
}
.dateTimeText {
  margin-right: 2px;
}
.notesList {
  overflow: scroll;
  height: 93vh;
  // scroll-behavior: smooth;
}
.notesList::-webkit-scrollbar {
  display: none;
}
